### Heroes Of Pymoli Data Analysis

#### Player Count
* _Insight 1_-Of the 780 people playing the game, only 576 are actual players (74%) explaining that some of players are very active purchasing different options. It would be worthwhile to gather feedback from players who are not purchasing options more than once to understand that.

#### Purchasing Analysis (Total)
* _Insight 2_-Based on the Purchasing Total details, on average, 4 purchases per items are happening. We can improve on this by having more data on the user and their feedback, likes etc.

#### Gender Demographics
* _Insight 3_-Heroes of Pymoli game and other available options seems to be a Men’s game (84%) with certain class of females (14%) also showing interest. It would be worthwhile to investigate the cause and understand what can be done to improve the situation either by adding more options to attract other gender classes as well.

#### Purchasing Analysis (Gender)
* _Insight 4_-Purchasing analysis by gender shows that Male have done maximum purchase worth 1967.64 dollars which is almost 83% of the total purchase. But interesting to see that average total purchase per person is highest for ‘Other’ category (4.56 dollars) along with Females (4.47 dollars). It would be  beneficial for the company invest time and money to come up with options that can attract more female and other classes of gender as they are high potential categories,.

#### Age Demographics
* _Insight 5_-Our game seems most popular among '20-24' age group with 44.79% followed by '15-19' and '25-29' group. This indicates that Heroes of Pymoli game is liked mostly by teen and young adults. It would be worthwhile to study more on more information on players to find out why other age-groups are not purchasing the options. If we have the data of players who are just using the free version of the game, we can do a comparative study to know similar trend is observed.

#### Purchasing Analysis (Age)
* _Insight 6_-Purchasing analysis by age shows that maximum purchase was done by age-group 20-24  with 1114.06 followed by 15-19  group by 412.8 and 25-29  group by 293.00. But the average total purchase per person shows the highest for <10  group with 4.54 dollars. Hypothesis is that Heroes of Pymoli options are mostly purchased by young adults, and some kids <10 are also buying these options. With more available data, we can analyse the reasons on the cause of it. May be that some adults in those houses are already using these options resulting in kids in those homes also purchasing these options. 
Also the company or creators of the game should invest time and energy in exploring how the game can be made more popolar with age groups <10 group, 30-34 &amp; 35-39 as they present the most potential (these age groups spend more per purchase than others).

#### Top Spenders
* _Insigt 7_-Out of the 780 total purchases by 576 unique players, top purchases are not that high limiting to maximum of 5 number by individual players. It would be worthwhile to investigate the reason if we have the data of purchase also as that can help in understanding, if purchase habins are continuing or just once time purchase only. This can help in increasing the purchasing frequency and numbers per player.

#### Most Popular Items
* _Insight 8_-Of the total purchases of 780, maximum purchase happened for one Item is only 12 for ‘Oathbreaker, Last Hope of the Breaking Storm’ followed by 9 numbers. It would be beneficial to investigate on least popular ones like 'Gladiator's Glaive', 'Crucifer' etc. 

#### Most Profitable Items
* _Insight 9_-Looks like top most popular items ( 'Oathbreaker, Last Hope of the Breaking Storm', 'Nirvana' ) are the maximum profitable ones also with a highest total purchase value of 50.76 dollars and 44.10 dollars respectively. It would be worthwhile to investigate on least popular items too by gathering more data on player's background, interests etc. Company can invest time and money on more interesting zonres of options to increase profitability.

-----

In [21]:
# Dependencies 
import pandas as pd
import numpy as npfrom 
from IPython.display import display
import warnings
warnings.catch_warnings()
warnings.simplefilter("ignore")

# Setting file path and reading the csv into pandas dataframe
filePath = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(filePath,encoding='utf-8')

## A Snapshot of the Raw purchase data

In [3]:
# Viewing the data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Viewing column details
print(purchase_data.columns)
print(purchase_data.info())

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB
None

# Report

## Player Count

* Display the total number of players

In [5]:
uniquePlayersData = purchase_data.drop_duplicates(['SN'])
totalPlayers = len(uniquePlayersData)
# Creating the Summary Data Frame for Total Players
totalPlayerSummary = pd.DataFrame({'Total Players' : [totalPlayers]})
# Formatting the Data Frame
totalPlayerSummary = totalPlayerSummary.applymap(lambda x: f'{x:,}')
# Displaying the Summary Data
display(totalPlayerSummary)

  Total Players
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame
-----------------

In [6]:
# Calculating Total number of Unique items.
totalUniqueItems = purchase_data['Item ID'].nunique()

# Calculating Average Purchase Price.
avg_purchase_price = purchase_data['Price'].mean()

# Calculating Total Number of Purchases
total_purchases = len(purchase_data)

# Calculating Total Revenue.
total_revenue = avg_purchase_price * total_purchases

# Creating and Displaying Summary Data
purchase_summary = pd.DataFrame({'Number of Unique Items' : [totalUniqueItems],
                                'Average Price' : [avg_purchase_price],
                                'Number of Purchases' : [total_purchases],
                                'Total Revenue': [total_revenue]})
# Formatting the Summary Data
purchase_summary[['Average Price','Total Revenue']] = purchase_summary[['Average Price','Total Revenue']].applymap(lambda x: f'${x:,.2f}')
# Displaying the summary data
display(purchase_summary)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed
---------------

In [23]:
# Calculating Percentage and Count of Male Players
maleCount = uniquePlayersData['Gender'].value_counts()['Male']
malePercent = (maleCount / totalPlayers)*100

# Calculating Percentage and Count of Female Players

femaleCount = uniquePlayersData['Gender'].value_counts()['Female']
femalePercent = (femaleCount / totalPlayers)*100

# Calculating Percentage and Count of Other Gender types

othersCount = totalPlayers - (maleCount + femaleCount)
othersPercent = (othersCount / totalPlayers)*100

# Setting the index column
genderTypes = uniquePlayersData['Gender'].value_counts().index

# Creating the Data Frame
genderSummary = pd.DataFrame({'Total': [maleCount , femaleCount , othersCount],
                             'Percentage of Players': [malePercent , femalePercent,othersPercent]},
                            index=[genderTypes])


# Formatting the Gender Summary Data
genderSummary[['Percentage of Players']] = genderSummary[['Percentage of Players']].applymap(lambda x: f'{x:.2f}%')


# Displaying the Gender Summary data 
display(genderSummary)

                       Total Percentage of Players
Male                     484                84.03%
Female                    81                14.06%
Other / Non-Disclosed     11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
# Calculating Total Purchase Count
totalPurchaseCount = purchase_data['Gender'].count()
# Calculating purchase count by different gender types.
maleCountTot = purchase_data['Gender'].value_counts()['Male']
femaleCountTot = purchase_data['Gender'].value_counts()['Female']
othersCountTot = purchase_data['Gender'].value_counts()['Other / Non-Disclosed']
index_values = purchase_data['Gender'].value_counts().index

# Calculating Average Purchase price by gender type.
avgPurchasePriceMale = purchase_data.loc[(purchase_data['Gender'] == 'Male')]['Price'].sum() / maleCountTot
avgPurchasePriceFemale = purchase_data.loc[(purchase_data['Gender'] == 'Female')]['Price'].sum() / femaleCountTot
avgPurchasePriceOthers = purchase_data.loc[(purchase_data['Gender'] == 'Other / Non-Disclosed')]['Price'].sum() / othersCountTot

# Calculating Total Purchase Value
totalPurchaseValueMale = maleCountTot * avgPurchasePriceMale
totalPurchaseValueFemale = femaleCountTot * avgPurchasePriceFemale
totalPurchaseValueOthers = othersCountTot * avgPurchasePriceOthers

# Calculating Average Purchase by Person based on gender type.
avgPurchaseByPersonMale = totalPurchaseValueMale / maleCount
avgPurchaseByPersonFemale = totalPurchaseValueFemale / femaleCount
avgPurchaseByPersonOthers = totalPurchaseValueOthers / othersCount

# Creating a Summary Table.

summaryByGenderTypePurchase = pd.DataFrame({'Purchase Count': [maleCountTot, femaleCountTot, othersCountTot],
                                           'Average Purchase Price': [avgPurchasePriceMale, avgPurchasePriceFemale, avgPurchasePriceOthers],
                                            'Total Purchase Value': [totalPurchaseValueMale, totalPurchaseValueFemale, totalPurchaseValueOthers],
                                            'Average Total Purchase by Person': [avgPurchaseByPersonMale, avgPurchaseByPersonFemale,avgPurchaseByPersonOthers]},index=[index_values])

# Formatting the data
summaryByGenderTypePurchase.loc[:,['Average Purchase Price','Total Purchase Value','Average Total Purchase by Person']] = summaryByGenderTypePurchase[['Average Purchase Price','Total Purchase Value','Average Total Purchase by Person']].applymap(lambda x: f'${x:,.2f}')



display(summaryByGenderTypePurchase)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase by Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table
----------------

In [25]:
# Creating Bins for various Age Groups
ageBins = [ 0,9,14,19,24,29,34,39,48]
# Creating Bin Labels
ageLabels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Categorize the existing players using the age bins.
demographicsData = pd.cut(uniquePlayersData['Age'],bins=ageBins,labels=ageLabels)

# Calculating the Total Demographics count
totalDemographics = demographicsData.count()

# Calculating Purchase Count by newly created Age Group categories.
lessThanTen = demographicsData.value_counts()['<10']
lessThanTenPer = (lessThanTen/totalDemographics)*100
tenTofourteen = demographicsData.value_counts()['10-14']
tenTofourteenPer = (tenTofourteen/totalDemographics)*100
fifteenToninteen = demographicsData.value_counts()['15-19']
fifteenToninteenPer =  (fifteenToninteen/totalDemographics)*100
twentTotwntyfour = demographicsData.value_counts()['20-24']
twentTotwntyfourPer = (twentTotwntyfour/totalDemographics)*100
twentyfiveTotwentynine = demographicsData.value_counts()['25-29']
twentyfiveTotwentyninePer = (twentyfiveTotwentynine/totalDemographics)*100
thirtyTothirtyfour = demographicsData.value_counts()['30-34']
thirtyTothirtyfourPer = (thirtyTothirtyfour/totalDemographics)*100
thirtyfiveTothirtynine = demographicsData.value_counts()['35-39']
thirtyfiveTothirtyninePer = (thirtyfiveTothirtynine/totalDemographics)*100
fourtyPlus = demographicsData.value_counts()['40+']
fourtyPlusPer = (fourtyPlus/totalDemographics)*100

# Create a summary data frame to hold the results
summaryByAge = pd.DataFrame({'Total Count' : [lessThanTen , tenTofourteen , fifteenToninteen,twentTotwntyfour,twentyfiveTotwentynine,thirtyTothirtyfour,thirtyfiveTothirtynine,fourtyPlus],
                            'Percentage of Players': [lessThanTenPer , tenTofourteenPer , fifteenToninteenPer,twentTotwntyfourPer,twentyfiveTotwentyninePer,thirtyTothirtyfourPer,thirtyfiveTothirtyninePer,fourtyPlusPer]},
                            index=[ageLabels])
# Formatting the Summary Data By Age Groups
summaryByAge[['Percentage of Players']] = summaryByAge[['Percentage of Players']].applymap(lambda x: f'{x:.2f}%')

# Display Age Demographics Table
display(summaryByAge)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame
------------------

* Creating Bins for purchase_data by age and categorzing the purchase data into the bins.

In [26]:
# Creating Bins for purchase_data by age and categorzing the purchase data into the bins.
# Creating Bins for various Age Groups
ageBins = [ 0,9,14,19,24,29,34,39,48]

# Creating Bin Labels
ageLabels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Categorizing the purchase data into various Bins
purchase_data['ageGroup'] = pd.cut(purchase_data['Age'], bins = ageBins , labels=ageLabels)

# calculating purchase counts by age group
countPurchaseDataByAge = purchase_data['ageGroup'].value_counts()

# Calculating purchase count
lessthan10 = countPurchaseDataByAge['<10']
tenTo14 = countPurchaseDataByAge['10-14']
fifteenTo19 = countPurchaseDataByAge['15-19']
twentyTo24 = countPurchaseDataByAge['20-24']
twentyfiveTo29 = countPurchaseDataByAge['25-29']
thirtyTo34 = countPurchaseDataByAge['30-34']
thirtyfiveTo39 = countPurchaseDataByAge['35-39']
fourtyPlus = countPurchaseDataByAge['40+']

# Calculate Average Purchase price by age groups.

lessthan10AvgPrice = purchase_data['Price'][purchase_data['ageGroup'] == '<10'].mean()
tenTo14AvgPrice = purchase_data['Price'][purchase_data['ageGroup'] == '10-14'].mean()
fifteenTo19AvgPrice = purchase_data['Price'][purchase_data['ageGroup'] == '15-19'].mean()
twentyTo24AvgPrice = purchase_data['Price'][purchase_data['ageGroup'] == '20-24'].mean()
twentyfiveTo29AvgPrice = purchase_data['Price'][purchase_data['ageGroup'] == '25-29'].mean()
thirtyTo34AvgPrice = purchase_data['Price'][purchase_data['ageGroup'] == '30-34'].mean()
thirtyfiveTo39AvgPrice = purchase_data['Price'][purchase_data['ageGroup'] == '35-39'].mean()
fourtyPlusAvgPrice = purchase_data['Price'][purchase_data['ageGroup'] == '40+'].mean()

# Calculating Total Purchase Value by Age Group
totalLess10 = lessthan10 * lessthan10AvgPrice
total10To14 = tenTo14 * tenTo14AvgPrice
total15To19 = fifteenTo19 * fifteenTo19AvgPrice
total20To24 = twentyTo24 * twentyTo24AvgPrice
total25To29 = twentyfiveTo29 * twentyfiveTo29AvgPrice
total30To34 = thirtyTo34 * thirtyTo34AvgPrice
total35to39 = thirtyfiveTo39 * thirtyfiveTo39AvgPrice
total40Plus =  fourtyPlus * fourtyPlusAvgPrice

# Calculating Average Total Purchase Per Person
avgPersonLess10 = totalLess10 / lessThanTen
avgPerson10To14 = total10To14 / tenTofourteen
avgPerson15To19 = total15To19 / fifteenToninteen
avgPerson20To24 = total20To24 / twentTotwntyfour
avgPerson25To29 = total25To29 / twentyfiveTotwentynine
avgPerson30To34 = total30To34 / thirtyTothirtyfour
avgPerson35To39 = total35to39 / thirtyfiveTothirtynine
avgPerson40Plus = total40Plus / fourtyPlus

# Creating the Summary Dataframe for Purchase Data by Age Group.
purchaseSummaryByAge = pd.DataFrame({'Purchase Count': [lessthan10,tenTo14, fifteenTo19, twentyTo24, twentyfiveTo29, thirtyTo34, thirtyfiveTo39, fourtyPlus],
                                     'Average Purchase Price': [lessthan10AvgPrice, tenTo14AvgPrice, fifteenTo19AvgPrice, twentyTo24AvgPrice, twentyfiveTo29AvgPrice, thirtyTo34AvgPrice, thirtyfiveTo39AvgPrice, fourtyPlusAvgPrice ],
                                     'Total Purchase Value': [totalLess10, total10To14, total15To19, total20To24, total25To29, total30To34, total35to39, total40Plus],
                                     'Avg Total Purchase per Person' : [avgPersonLess10, avgPerson10To14, avgPerson15To19, avgPerson20To24, avgPerson25To29, avgPerson30To34, avgPerson35To39, avgPerson40Plus]}, index = ageLabels)

# Displaying the Summary Purchase Data by Age Group after formatting.
purchaseSummaryByAge[['Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']] = purchaseSummaryByAge[['Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']].applymap(lambda x: f'${x:,.2f}')

# Displaying the Purchase summary by Age Group.
display(purchaseSummaryByAge)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame
--------------------

In [27]:
# Performing calculations and extracting the data
# Extracting the count of all spenders into a dataframe
topSpenders1 = pd.DataFrame(purchase_data['SN'].value_counts())
topSpenders1 = topSpenders1.reset_index()
topSpenders1.columns = ['SN','Purchase Count']

#Extracting the Average Purchase Price for each Spender into another Dataframe.
topSpenders2 = purchase_data.groupby(['SN']).mean()
topSpenders2 = topSpenders2.reset_index()[['SN','Price']]

# Merging both Data Frames on Spender Name ['SN']
topSpenders = topSpenders1.merge(topSpenders2,on=['SN'],left_index=False,right_index=False)

# Calculating Total Purchase Value
topSpenders['Total Purchase Value'] = topSpenders['Purchase Count'] * topSpenders['Price']

# Sorting the Data in Descending order of Total Purchase Value
topSpenders.sort_values(by='Total Purchase Value', ascending=False,inplace=True)

# Formatting the Price columns with currency and 2 decimal places
topSpenders[['Price','Total Purchase Value']] = topSpenders[['Price','Total Purchase Value']].applymap(lambda x: f'${x: ,.2f}')

# Saving only the top 5 Spenders
topSpenders = topSpenders.head()

# Renaming column names
topSpenders.rename(columns={'Price':'Average Purchase Price'},inplace=True)

# Setting the index to Spender Name
topSpenders.set_index(['SN'],inplace=True)
display(topSpenders)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                 $ 3.79              $ 18.96
Idastidru52               4                 $ 3.86              $ 15.45
Chamjask73                3                 $ 4.61              $ 13.83
Iral74                    4                 $ 3.40              $ 13.62
Iskadarya95               3                 $ 4.37              $ 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame
-------------

In [28]:
# Retrieve the Item ID, Item Name, and Item Price columns
popularDataRaw = purchase_data.loc[:,['Item ID', 'Item Name', 'Price']]

In [29]:
# Group the data by Item ID and Item Name and renaming the column with meaningful name
popularGrouped = popularDataRaw.groupby(['Item ID','Item Name']).count()

popularGrouped.rename(columns={'Price' : 'Purchase Count'},inplace=True)

# Extracting Price
popularPriceData =  purchase_data.drop_duplicates(['Item ID', 'Item Name'])[['Item ID', 'Item Name', 'Price']]

popularGrouped = popularGrouped.merge(popularPriceData,on=['Item ID','Item Name'],how = 'left')

# Calculating Total Purchase Value
purchaseValue = popularGrouped['Purchase Count'] * popularGrouped['Price']
popularGrouped['Total Purchase Value'] = purchaseValue

# Renaming the Price column
popularGrouped.rename(columns={'Price':'Item Price'},inplace=True)

# Sorting the data 
popularList = popularGrouped.sort_values(by=['Purchase Count'],ascending=False)

popularList.set_index(['Item ID','Item Name'],inplace=True)
# Formatting the Data
popularList[['Item Price','Total Purchase Value']] = popularList[['Item Price','Total Purchase Value']].applymap(lambda x:f'${x: ,.2f}')
# Printing a Preview of Popular Play List.
display(popularList.head())

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77
82,Nirvana,9,$ 4.90,$ 44.10
19,"Pursuit, Cudgel of Necromancy",8,$ 1.02,$ 8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame
---------------

In [30]:
# Sorting the Popular Player List By Descending order of Total Purchase Value.
topProfitableList = popularGrouped.sort_values(by=['Total Purchase Value'], ascending=False)

topProfitableList.set_index(['Item ID','Item Name'],inplace=True)

# Formatting the Data
topProfitableList[['Item Price','Total Purchase Value']] = topProfitableList[['Item Price','Total Purchase Value']].applymap(lambda x:f'${x: ,.2f}')

# Display a Preview of the top Profitable
display(topProfitableList.head())

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
82,Nirvana,9,$ 4.90,$ 44.10
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
92,Final Critic,8,$ 4.88,$ 39.04
103,Singed Scalpel,8,$ 4.35,$ 34.80